python open database connectivity(connection string and cursor used in different vars)  SQL Alkani(connection string and cursor used in one var)

In [1]:
pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\hp\anaconda3\lib\site-packages (5.1.0)Note: you may need to restart the kernel to use updated packages.

In [1]:
#after restarting kernel
import pyodbc

In [2]:
#This line is used to establish a connection between your Python code and a SQL Server database using the pyodbc library.
connection_string = pyodbc.connect("DRIVER={SQL Server};Server=LAPTOP-B34KO8S6\\SQLEXPRESS; Database=CustomerDetails; Trusted_connection=yes")

In [3]:
#You're creating a cursor object from your database connection.
cursor = connection_string.cursor() 
#creates a cursor object. The cursor object is a pointer or controller that allows your Python program to perform SQL operations on DB

In [4]:
#Execute a SQL query
cursor.execute('SELECT * from Customers')

In [5]:
#Retrieve data from the database
row = cursor.fetchall()

In [6]:
row

[(101, 'Yamuna', 'Yamu', 'Gajuwaka', 'Vizag', 530012),
 (102, 'Shravya', 'Shravs', 'Puttur', 'Mangalore', 574220),
 (103, 'Jagannath ', 'Jagan', 'Guntakal', 'Anantapur', 515801),
 (104, 'Aryan', 'Arya', 'Hebbal', 'Bangalore', 560024),
 (105, 'Yasmin', 'Yasu', 'Dhone', 'Nandyal', 518222),
 (106, 'Shahida', 'Shahi', 'Gadwal', 'Kurnool', 509125),
 (107, 'Jeelan', 'Jeelu', 'Guntakal', 'Anantapur', 515801),
 (108, 'Kavitha', 'Kavi', 'Kavali', 'Nellore', 524201),
 (109, 'Sireesha', 'Siri', 'RT Nagar', 'Bangalore', 560032),
 (110, 'Tejashree', 'Teja', 'Yelahanka', 'Bangalore', 560063)]

In [7]:
for id in row:
    print(id[0])

101
102
103
104
105
106
107
108
109
110

In [8]:
for id, cust_name, contact_name, address, city, pincode in row:
    print(id)

101
102
103
104
105
106
107
108
109
110

In [9]:
cursor.execute('select Customer_ID from Customers')

In [10]:
print(cursor.fetchall())

[(101,), (102,), (103,), (104,), (105,), (106,), (107,), (108,), (109,), (110,)]

In [11]:
for id, cust_name, contact_name, address, city, pincode in row:
    if id == 105:
        print(f'ID: {id}, Cust_name: {cust_name}, Contact_name: {contact_name}, Address: {address}, City: {city}, Pincode: {pincode}')

ID: 105, Cust_name: Yasmin, Contact_name: Yasu, Address: Dhone, City: Nandyal, Pincode: 518222

In [12]:
for id, cust_name, contact_name, address, city, pincode in row:
    if id == 107:
        print(cust_name)

Jeelan

In [13]:
cursor.close()  # close Cursor first #Mandatory
connection_string.close() #After then only have to close connection_string next #Mandatory

In [14]:
for id, cust_name, contact_name, address, city, pincode in row:
    if id == 107:
        print(cust_name)

Jeelan

In [15]:
cursor