Tuples are very similar to lists. However they have one key difference- Immutability
Once an element is inside a tuple, it cannot be reassigned
Tuples use: () paranthesis
methods: type(), len(), count(), index()

In [1]:
t=(1,2,3)

In [2]:
my_list=[1,2,3]

In [3]:
type(t)

tuple

In [4]:
type(my_list)

list

In [5]:
len(t)

3

In [6]:
len(my_list)

3

In [7]:
my_list[0]='one'

In [8]:
my_list  #List : mutable

['one', 2, 3]

In [9]:
t[0]='one' #Tuple : immutable

TypeError: 'tuple' object does not support item assignment

In [ ]:
t

In [10]:
t=('a','a','b')

In [11]:
t.count('c') #count also works for list

0

In [12]:
t.count('a')

2

In [13]:
#index() returns first index value of the instance of an item
t.index('a') #index() also works for list

0

In [14]:
t=(1,1,1,1,2,3,4,5,6,7)

In [15]:
t.count(1)

4

In [16]:
#practice
t=(1,2,3,4,'Hi',34.5,True) #can pass multiple diff values

In [17]:
t

(1, 2, 3, 4, 'Hi', 34.5, True)

In [18]:
t.sort()  #Immutability once we store the values in tuple we can't even change it for sorting

AttributeError: 'tuple' object has no attribute 'sort'

In [19]:
t[4].upper()

'HI'

In [20]:
temp=t[4].upper()

In [21]:
temp

'HI'

In [22]:
t[4]

'Hi'

In [24]:
t = (7,2,9,1,0,5,6)

In [25]:
sorted(t)

[0, 1, 2, 5, 6, 7, 9]

In [26]:
tuple(sorted(t))

(0, 1, 2, 5, 6, 7, 9)