A list a data structure in python that is a mutable, or changeable, ordered sequence of elements. Each element or value that
is inside of a list is called an item.
#Methods: append(), pop(), type(), sort(), count(), index(), len()

In [1]:
my_list=[1,2,3] #[30,51,64]    #my_list --> snake case  and myList --> camel case

In [2]:
print(my_list)  #my_listItems: using both snakecase&camelcase in a variableName is not recommended in corporate terminology

[1, 2, 3]

In [3]:
my_list           #As discussed earlier a space is automatically generated by , in python

[1, 2, 3]

In [4]:
my_list=[30,51,64]

In [5]:
my_list

[30, 51, 64]

In [6]:
myList=[10,2.5,True,"List String"]   #list can contain different type of items

In [7]:
myList

[10, 2.5, True, 'List String']

List Indexing

In [8]:
my_list1 = ["string",2,30.555,87,4658,34] #elements with different datatypes are allowed in a list.

In [9]:
len(my_list1) #length   Here, len is a function/method used for getting length of my_list1

6

In [10]:
my_list1[0]     #index represents an address of an item in a list and it always starts from 0

'string'

In [11]:
print(my_list1[4])#Jupyter notebook displays both internal execution&output part of python 
    # i.e, Takes value/variable/expression as In[..] and displays output in Out[..] --> Internal execution of python code
    #  and Takes print() as In[..] and displays output without mentioning Out[..]   --> Actual Output of python code         
 #while other IDEs only display output through print() but doesn't display execution part.

4658

In [12]:
print(my_list1[6]) #index value exceeding list size

IndexError: list index out of range

In [ ]:
print(my_list1[-6])     #reverse indexing starts from -1 for last item

In [ ]:
print(my_list1[-7]) #index value exceeding list size

In [13]:
my_list=['one','two','three',85,963,741,'four']
newList=[10,20,30,40,50]

List Indexing using start:end

In [17]:
newList[1:]

[20, 30, 40, 50]

In [18]:
newList[1:3] # start, ..,..,end-1 : excludes or doesn't consider index's end position

[20, 30]

In [19]:
#if end value>=len(list) then it displays list from start position to len(list)-1 position & doesn't consider the rest.
newList[1:5]

[20, 30, 40, 50]

In [20]:
newList[1:10]

[20, 30, 40, 50]

In [21]:
10 + 20 # both are integers

30

In [22]:
'10'+20

TypeError: can only concatenate str (not "int") to str

In [23]:
'string'+my_list

TypeError: can only concatenate str (not "list") to str

In [ ]:
'Hello'+'World'

In [24]:
my_list+my_list #concatenation (joining to 2 strings)

['one',
 'two',
 'three',
 85,
 963,
 741,
 'four',
 'one',
 'two',
 'three',
 85,
 963,
 741,
 'four']

In [25]:
concatList = my_list + newList   
#Easiness of python i.e, storing output of two lists as a single list in a variable for future usage.

In [26]:
print(concatList)

['one', 'two', 'three', 85, 963, 741, 'four', 10, 20, 30, 40, 50]

In [27]:
#List Slicing   #13/5/25 typed in

In [28]:
my_list=['one', 'two', 'three', 85, 963, 741, 'four']

In [29]:
my_list[0:] #list slicing

['one', 'two', 'three', 85, 963, 741, 'four']

In [30]:
my_list[0:3] # list slicing

['one', 'two', 'three']

In [31]:
newList=['six',7,'eight',9]

In [32]:
newList

['six', 7, 'eight', 9]

In [33]:
another_list=my_list+newList

In [34]:
another_list[2:7]

['three', 85, 963, 741, 'four']

In [35]:
x=10

In [36]:
newVar=another_list+x

TypeError: can only concatenate list (not "int") to list

List Concatenation

In [38]:
my_list+another_list

['one',
 'two',
 'three',
 85,
 963,
 741,
 'four',
 'one',
 'two',
 'three',
 85,
 963,
 741,
 'four',
 'six',
 7,
 'eight',
 9]

In [39]:
newList=my_list+another_list

In [40]:
newList[-4]=66   #mutable --> it is replacing with old val 'six' but not overriding

In [41]:
newList

['one',
 'two',
 'three',
 85,
 963,
 741,
 'four',
 'one',
 'two',
 'three',
 85,
 963,
 741,
 'four',
 66,
 7,
 'eight',
 9]

In [42]:
#append() method is used to add new element at the end of the list. This permanently changes the list.
#append() can add duplicate/repeated values
newList.append('newValue')

In [43]:
newList

['one',
 'two',
 'three',
 85,
 963,
 741,
 'four',
 'one',
 'two',
 'three',
 85,
 963,
 741,
 'four',
 66,
 7,
 'eight',
 9,
 'newValue']

In [44]:
#pop() method is used to remove the last element from the list. Reverse indexing also works for list
#pop() method takes only one index for removing specific element.  
#It cmpletely extract the value from list and display in exec part but not in output part.
newList.pop(-2)

9

In [45]:
myList1=[1,2,3,4,5]

In [46]:
myList2=[10,'twenty',30]

In [47]:
myList1.append(myList2)

In [48]:
myList1

[1, 2, 3, 4, 5, [10, 'twenty', 30]]

In [49]:
print(myList1[-1][-2])

twenty

In [50]:
myList1

[1, 2, 3, 4, 5, [10, 'twenty', 30]]

In [51]:
myList1[5][-2]

'twenty'

In [52]:
#By default pop() the last element. However, we can also pass the index number as parameter to remove a particular item
#we can store popped value in new variable for reuse or future use.
poppedElement=newList.pop(0)

In [53]:
fruits = ['apple', 'mango', 'orange', 'potato', 'grapes']
veg=['carrot', 'tomato', 'onion']

In [54]:
tempVeg = fruits.pop(-2)   
#Storing popped item 'potato' in tempVeg. For adding 'potato' to veg list from fruits list

In [55]:
tempVeg

'potato'

In [56]:
veg.append(tempVeg)

In [57]:
veg

['carrot', 'tomato', 'onion', 'potato']

In [58]:
fruits

['apple', 'mango', 'orange', 'grapes']

In [59]:
x=10          #int
y=20.36       #float
z='besant'    #str
a=[1,2,3]     #list
b=True        #bool

In [60]:
type(b)

bool

In [61]:
my_newList=[10,20,30,40,50,60,70]

In [62]:
my_newList.append("Hi")

In [63]:
my_newList

[10, 20, 30, 40, 50, 60, 70, 'Hi']

In [64]:
my_newList.pop()

'Hi'

In [65]:
my_newList

[10, 20, 30, 40, 50, 60, 70]

In [66]:
#Sorting the list in Python
newList=['A','h','r','a','c','b','z','Z','X',4,56,7,7,8,5,4,2]
numList=[6,8,9,1,5,4]

In [67]:
newList

['A', 'h', 'r', 'a', 'c', 'b', 'z', 'Z', 'X', 4, 56, 7, 7, 8, 5, 4, 2]

In [68]:
numList

[6, 8, 9, 1, 5, 4]

In [69]:
newList.sort() #sort() will sort the elements and kept the sorted list in it's variable itself

TypeError: '<' not supported between instances of 'int' and 'str'

In [70]:
print(newList)

['A', 'X', 'Z', 'a', 'b', 'c', 'h', 'r', 'z', 4, 56, 7, 7, 8, 5, 4, 2]

In [71]:
var=numList.sort()

In [72]:
type(var)

NoneType

In [73]:
type(numList)

list

In [74]:
print(numList)

[1, 4, 5, 6, 8, 9]

In [75]:
#Incase of sorting, new variable cannot store a sorted list of values. It will sorts and stores in a variable itself automatically. 
numList.sort()

In [76]:
numList

[1, 4, 5, 6, 8, 9]

In [77]:
#Below code is not possible. newList.sort() gets error itself
mySortedList=newList.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [78]:
type(mySortedList)

NameError: name 'mySortedList' is not defined

In [79]:
list=['a','a','b']

In [80]:
list.count('a')

2

In [81]:
list.index('a')

0

In [82]:
#Practice
l1=[1,2,3,3,4,5]

In [83]:
l1.pop(2)

3

In [84]:
l1.pop(2,3)

TypeError: pop expected at most 1 argument, got 2

In [85]:
l1.append(6,7)

TypeError: list.append() takes exactly one argument (2 given)

In [ ]:
l1.append(6)

In [86]:
l1

[1, 2, 3, 4, 5]