
String:

String is a collection of characters enclosed within single/double quotes


Immutable: they cannot be changed after they created

In [1]:
newString='Cat'

In [2]:
newString[0]='M'

TypeError: 'str' object does not support item assignment

In [3]:
print(newString)

Cat

In [4]:
updatedNewString=newString[1:]

In [5]:
updatedNewString

'at'

In [6]:
'R' + updatedNewString +'s'

'Rats'

In [7]:
newString

'Cat'

In [8]:
x ='Besant Technologies'

In [9]:
print(x)

Besant Technologies

In [10]:
z=10

In [11]:
z+=2 # z = 10 + 2 latest z=12

In [12]:
print(z)

12

In [13]:
x + " Hebbal, Bengaluru"

'Besant Technologies Hebbal, Bengaluru'

In [17]:
x+= " Hebbal, Bengaluru" # Execute this line 3 times

In [18]:
print(x)

Besant Technologies Hebbal, Bengaluru Hebbal, Bengaluru Hebbal, Bengaluru

In [19]:
Alphabet = 'q'

In [20]:
Alphabet * 20

'qqqqqqqqqqqqqqqqqqqq'

Use '+' operator with different datatypes

In [21]:
2 + 2

4

In [22]:
'2' + '2'

'22'

In [23]:
'2' + 2

TypeError: can only concatenate str (not "int") to str

In [24]:
y = "Besant Technologies"

In [25]:
y.upper

In [26]:
y.upper()

'BESANT TECHNOLOGIES'

Type Markdown and LaTex: $\alpha^2$(inline)

$$\beta^3$$(block)

Split divides the string on the basis of white spaces

In [27]:
var=y.split()         #splits the string into list of items based on whitespaces

In [28]:
var

['Besant', 'Technologies']

In [29]:
var1 = "Besant Technologies"

In [30]:
print("I visit Besant Technologies to learn Python!")

I visit Besant Technologies to learn Python!

In [31]:
print("I visit",var1,"to learn Python!")

I visit Besant Technologies to learn Python!

.format 

f-string

split()

insert()

join()

In [32]:
print("I visit {} to learn Python!".format(var1))

I visit Besant Technologies to learn Python!

In [33]:
print("I visit {} to learn {} Python!".format(var1,"Besant Technologies"))
#2blank, 2ans : Managed

I visit Besant Technologies to learn Besant Technologies Python!

In [34]:
print("I visit {} to learn Python!".format(var1,"Besant Technologies")) 
#1blank, 2ans : Managed

I visit Besant Technologies to learn Python!

In [35]:
print("I visit {} to learn {} Python!".format("var1","Besant Technologies"))

I visit var1 to learn Besant Technologies Python!

In [36]:
print("I visit {0} to learn {1} Python!".format("var1","Besant Technologies"))
#i.e, format[0], format[1] by default: format args considered as tuple {check In[45] error msg}

I visit var1 to learn Besant Technologies Python!

In [37]:
print("I visit {0} to learn {0} Python!".format("var1","Besant Technologies"))

I visit var1 to learn var1 Python!

In [38]:
print("I visit {} to learn {} python".format('var1', 'Besant Technologies', 'Hebbal'))
# 2blanks, 3ans : managed

I visit var1 to learn Besant Technologies python

In [39]:
print("I visit {} to learn {} python {}".format('visit', 'Besant Technologies', 'Hebbal'))
# 3 blanks, 3ans : managed

I visit visit to learn Besant Technologies python Hebbal

In [40]:
print("I visit {} to learn {} python {}".format('visit', b='Besant Technologies')) #Hi
# 3 blanks, 2ans : confused

IndexError: Replacement index 1 out of range for positional args tuple

In [41]:
print("I visit {v} to learn {b} Python!".format(v=var1,b="Besant Technologies"))
#i.e, format args will be considered as dictionary  when we initialize variables  {check In[50] error msg}

I visit Besant Technologies to learn Besant Technologies Python!

In [42]:
print("I visit {} to learn {} Python!".format(v=var1,b="Besant Technologies"))
#Here initialization also added at execution time, there may be chance of getting errors(diff errors depends on diff usage)
#i.e, format args will be considered as dictionary  when we initialize variables. 
#Hence it requires address through keys here

IndexError: Replacement index 0 out of range for positional args tuple

In [43]:
print("I visit {v} to learn {v} Python!".format(v="var1",b="Besant Technologies"))

I visit var1 to learn var1 Python!

In [44]:
print("I visit {b} to learn {v} Python!".format(v="var1",b="Besant Technologies"))

I visit Besant Technologies to learn var1 Python!

In [45]:
print("I visit {a} to learn {b} Python!".format(v="var1",b="Besant Technologies))
#Here we are giving variable & value, so it will be consider it as key&value. Hence showing 'a' as KeyError&here index not works

SyntaxError: unterminated string literal (detected at line 1) (64804862.py, line 1)

In [46]:
print("I visit {0} to learn {1} Python!".format(v="var1",b="Besant Technologies"))
#i.e, format args will be considered as dictionary  when we initialize variables. 
#Hence no indexing will works while keys has been assigned with values

IndexError: Replacement index 0 out of range for positional args tuple

In [47]:
print("I  to learn {} Python".format())  #1 blank, 0ans : confused

IndexError: Replacement index 0 out of range for positional args tuple

In [48]:
print("I  to learn {var1} Python".format()) #variable names inside {} will be considered as keys

KeyError: 'var1'

In [49]:
print("I  to learn {var1} Python")

I  to learn {var1} Python

In [50]:
print("I  to learn {var1} Python".format(var1))  
#We use this when we have key,value i.e,var1='variable' at initialization

KeyError: 'var1'

In [51]:
print("I  to learn {var1} Python".format(var1='variable'))

I  to learn variable Python

In [52]:
x=10

In [53]:
print(a)   #Incase of normal variable, NameError will be thrown

NameError: name 'a' is not defined

{} - placeholder

{var} - string interpolation

f-string:
    Used for formatting variables with string using string interpolation and variable may be of string or any datatype

In [54]:
print(f"I visit {var1} to learn Python")

I visit Besant Technologies to learn Python

In [55]:
print(f"I visit {{var1}} to learn Python")

I visit {var1} to learn Python

In [56]:
print(f"I visit {'{var1}'} to learn Python")

I visit {var1} to learn Python

In [57]:
print(f"I visit '{{var1}}' to learn Python")

I visit '{var1}' to learn Python

In [58]:
print(f"I visit ({var1}) to learn Python")  
#f string : used for formatting variables with string using string interpolation and 
#           variable may be of any datatype

I visit (Besant Technologies) to learn Python

In [59]:
var2 =10

In [60]:
print(f"I visit ({var2}) to \t learn Python")  #6 spaces: 1 space, 1 tabspace(4spcs), 1 space
#f string : used for formatting variables with string using string interpolation and variable may be of any datatype

I visit (10) to 	 learn Python

In [61]:
print(f"I visit ({var2}) to\t learn Python") #2spaces

I visit (10) to	 learn Python

In [62]:
print(f"I visit ({var2}) to \tlearn Python") #5spaces: 1space, 1tabspace(4spaces)

I visit (10) to 	learn Python

In [63]:
print(f"I visit ({var1}) to\tlearn Python") #4spaces: 1tabspace

I visit (Besant Technologies) to	learn Python

In [64]:
print(f"1. {var1} \n2. {var1}")

1. Besant Technologies
2. Besant Technologies

In [65]:
var1 = "I learn python everyday at Besant Technologies I learn python everyday at Besant Technologies I learn python everyday at Besant Technologies I learn python everyday at Besant Technologies I learn python everyday at Besant Technologies I learn python everyday at Besant Technologies "

In [66]:
print(var1)

I learn python everyday at Besant Technologies I learn python everyday at Besant Technologies I learn python everyday at Besant Technologies I learn python everyday at Besant Technologies I learn python everyday at Besant Technologies I learn python everyday at Besant Technologies

In [67]:
print(f"1. {var1} \n2. {var1}")

1. I learn python everyday at Besant Technologies I learn python everyday at Besant Technologies I learn python everyday at Besant Technologies I learn python everyday at Besant Technologies I learn python everyday at Besant Technologies I learn python everyday at Besant Technologies
2. I learn python everyday at Besant Technologies I learn python everyday at Besant Technologies I learn python everyday at Besant Technologies I learn python everyday at Besant Technologies I learn python everyday at Besant Technologies I learn python everyday at Besant Technologies

In [68]:
print("\\tHi")

\tHi

split(): splitting a string into collection of items(in the form of list) based on whitespaces in a string

In [69]:
print("I visit Besant Technologies to learn Python".split())   #splitting items

['I', 'visit', 'Besant', 'Technologies', 'to', 'learn', 'Python']

In [70]:
print("I visit Besant Technologees to learn Python".split('e'))

['I visit B', 'sant T', 'chnolog', '', 's to l', 'arn Python']

In [71]:
print("I visit Besant Technologies     to learn Python".split()) 
#By default,is splitting string based on whitespace into list
#(without considering how many no.of whitespaces are there) when no args given

['I', 'visit', 'Besant', 'Technologies', 'to', 'learn', 'Python']

In [72]:
print("I visit Besant Technologies     to learn Python".split(' ')) #considers every whitespace and splits it as an item('')
#If we manually give ',',' ','_','e' whenever there are consecutive specified character(passed arg in split) in a string
#Then it will consider them as one item with empty string ''
#Ex: ("Hi,,,,Besant,Technologies".split(',')) => ['Hi', '', '', '', 'Besant', 'Technologies']

['I', 'visit', 'Besant', 'Technologies', '', '', '', '', 'to', 'learn', 'Python']

In [73]:
print("I,visit,Besant,,,Technologies,to learn Python".split(','))

['I', 'visit', 'Besant', '', '', 'Technologies', 'to learn Python']

In [74]:
#TASK#
Given: "I travel from Hebbal to Sahakarnagar to train in Besant Technologies"

Output: "I come from Hebbal to train in Besant Technologies"

In [75]:
given = "I travel from Hebbal to Sahakarnagar to train in Besant Technologies"

In [76]:
given.split()

['I',
 'travel',
 'from',
 'Hebbal',
 'to',
 'Sahakarnagar',
 'to',
 'train',
 'in',
 'Besant',
 'Technologies']

In [77]:
given

'I travel from Hebbal to Sahakarnagar to train in Besant Technologies'

In [78]:
temp=given.split()

In [79]:
temp

['I',
 'travel',
 'from',
 'Hebbal',
 'to',
 'Sahakarnagar',
 'to',
 'train',
 'in',
 'Besant',
 'Technologies']

In [80]:
temp.pop(1)

'travel'

In [81]:
temp

['I',
 'from',
 'Hebbal',
 'to',
 'Sahakarnagar',
 'to',
 'train',
 'in',
 'Besant',
 'Technologies']

In [82]:
temp.pop(4)

'Sahakarnagar'

In [83]:
temp

['I', 'from', 'Hebbal', 'to', 'to', 'train', 'in', 'Besant', 'Technologies']

In [84]:
temp.pop(4)

'to'

In [85]:
temp

['I', 'from', 'Hebbal', 'to', 'train', 'in', 'Besant', 'Technologies']

In [86]:
print(f"{temp[0]} come {temp[1]} {temp[2]} {temp[3]} {temp[4]} {temp[5]} {temp[6]}")

I come from Hebbal to train in Besant

In [87]:
print(f""{temp[0]} come {temp[1]} {temp[2]} {temp[3]} {temp[4]} {temp[5]} {temp[6]}"")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1285598516.py, line 1)

In [88]:
print(f"'{temp[0]} come {temp[1]} {temp[2]} {temp[3]} {temp[4]} {temp[5]} {temp[6]}'")

'I come from Hebbal to train in Besant'

In [89]:
print(f"'{temp[0]} come {temp[1] temp[2] temp[3] temp[4] temp[5] temp[6]}'")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1089185788.py, line 1)

In [90]:
print(f'"{temp[0]} come {temp[1]} {temp[2]} {temp[3]} {temp[4]} {temp[5]} {temp[6]}"')

"I come from Hebbal to train in Besant"

In [91]:
temp

['I', 'from', 'Hebbal', 'to', 'train', 'in', 'Besant', 'Technologies']

In [92]:
temp.insert(1,'come')    #Inserting an item at specific index into a list

In [93]:
temp

['I', 'come', 'from', 'Hebbal', 'to', 'train', 'in', 'Besant', 'Technologies']

In [94]:
temp.add(1,'come')    #Inserting an item at specific index into a list

AttributeError: 'list' object has no attribute 'add'

In [95]:
temp

['I', 'come', 'from', 'Hebbal', 'to', 'train', 'in', 'Besant', 'Technologies']

In [96]:
temp.join(" ")

AttributeError: 'list' object has no attribute 'join'

In [97]:
" ".join(temp)

'I come from Hebbal to train in Besant Technologies'

In [98]:
"_".join(temp)

'I_come_from_Hebbal_to_train_in_Besant_Technologies'

In [99]:
"    ".join(temp)

'I    come    from    Hebbal    to    train    in    Besant    Technologies'

In [100]:
",".join(temp)

'I,come,from,Hebbal,to,train,in,Besant,Technologies'

In [101]:
temp =['I', 'come', 'from', 'Hebbal', 'to', 'train', 'in', 'Besant', 'Technologies']

In [102]:
"".join(temp)

'IcomefromHebbaltotraininBesantTechnologies'